body{
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows:auto auto auto auto;
    justify-items: center;
    background-color: #F4F1DE;
}

header{
    grid-column: 2;
    grid-row: 1;
    background-color: #8d373b;
    width: 800px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    color: white;
    
}

main{
    grid-column: 2;
    grid-row: 3;
}

footer{
    border-radius: 25px;
    grid-column: 1/4;
    grid-row:4;
    background-color: #8d373b;
    color: white;
    width: 100%;
}

.picture{
    padding-right: 25px;
    grid-column: 2;
    grid-row: 1;
    margin-top: 5px;
    margin-bottom:5px;
    transform: rotate(-90deg);
    width: 90px;
}
h1{
    grid-column: 2;
    grid-row: 1;
}
.navigation{
    grid-column: 1/4;
    grid-row: 2;
    width: 100%;
}
.navigation a {
    background-color: #13293D;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    
  }
  h2{
    text-align: center;
  }
  h3{
    background-color: #8d373b;
    grid-row: 1;
    color: #fffafa;
    margin: 0px;
    border-radius: 25px 25px 0px 0px;
    height: 50px;
    display: grid;
    place-content: center;
  }
  .card{
    border-radius: 25px;
    display: grid;
    grid-template-rows: auto auto;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  
  .navigation a:hover {
    background-color: grey;
  }
  
  .navigation a.active {
    background-color: #13293D;
    color: white;
  }
  .card h3, p
  {
    text-align: center;
  }
  #menu::before{
    content: "≡";
  }
  #menu.open::before{
    content: "X";
  }
  .navigation a{
    display: none;
  }
  .open a{
    display: block;
  }
  iframe{
    width: 100%;
  }