body{
    margin: 0;
}
/* Mobile View section*/
@media only screen and (max-width: 767px){

    .view {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .tik-tok,
    .apple,
    .barcelona {
        grid-column: 2/3;
        margin-bottom: 20px;
        text-align: center;
        border: 2px solid black;
        border-radius: 25px;
        background-color: #d3d3d3;
    }

    footer {
        background-color: #8d373b;
        color: white;
        display: grid;
        position: fixed; /* or absolute, depending on your layout */
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;

    }

    footer p {
        margin: 0;
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium-sized devices */
.view
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.barcelona, .apple, .tik-tok
{
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #d3d3d3;
}

.barcelona
{
    grid-column: 1/3;
}
footer {
    background-color: #8d373b;
    color: white;
    display: grid;
    position: fixed; /* or absolute, depending on your layout */
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%;

}

footer p {
    margin: 0;
    padding: 10px;
}
}


/* Larger Views*/
@media only screen and (min-width: 992px)
{
.view
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    margin: 20px;
}
.barcelona, .apple, .tik-tok
{
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #d3d3d3;
}
footer {
    background-color: #8d373b;
    color: white;
    display: grid;
    position: fixed; /* or absolute, depending on your layout */
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%;

}

footer p {
    margin: 0;
    padding: 10px;
}
}
