:root{
  --text: white;
  --header-footer: #3A7D44;
  --body-background: #F4F1DE;
  --nav: #13293D;
  --nav-background: grey;
}
:root .darkMode{
  --text:black;
  --body-background: #002C56;
  --nav: #C4CED4;
  --header-footer: #005C5C; 
  --nav-background: #002C56;
}


body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto, auto, 1fr, auto ;
    justify-items: center;
    background-color: var(--body-background);
}

header{
    grid-column: 1/4;
    grid-row: 1;
    background-color: var(--header-footer);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    color: white;
}


main{
    grid-column: 1/4;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    align-items: center;
    width: 100%;
}
#images{
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#discover-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.everett-park, .everett-diner, .everett-ivars, .everett-library, .everett-skateshop, .everett-funko,.everett-station{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.img-container1,.img-container2,.img-container3,.img-container4,.img-container5,.img-container6,.img-container7{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    border-radius: 3rem;
    border: 10px solid var(--header-footer);
    background-color: var(--nav);
    color: var(--text);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}


footer{
    border-radius: 25px;
    grid-column: 1/4;
    grid-row:4;
    background-color: var(--header-footer);
    color: white;
    width: 100%;
    text-align: center;
}


h1{
    grid-column: 2;
    grid-row: 1;
}
.navigation{
    grid-column: 1/4;
    grid-row: 2;
    width: 100%;
    background-color: var(--nav);
}
.navigation a {
    background-color: var(--nav);
    color: var(--text);
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
  }

  h2{
    text-align: center;
  }
  
  .navigation a:hover {
    background-color: var(--nav-background);
  }
  .darkMode .navigation a:hover{
    background-color: white
  }
  
  .navigation a.active {
    background-color: var(--header-footer);
    color: var(--text);
  }

  p
  {
    text-align: center;
  }
  #menu::before{
    content: "≡";
  }
  #menu.open::before{
    content: "X";
  }
  .navigation a{
    display: none;
  }
  .open a{
    display: block;
  }
  .picture{
    padding: 1rem 1rem 1rem 1rem;
  }


  #menu{
    position: absolute;
    top: 7rem;
    right: 1rem;
    height: 5rem;
    width: 2rem;
    background-color: var(--header-footer);
    border: none;
    color: white;
    font-size: 3rem;
    text-align: center;
  }


  
  /* Directory page */
  #cards{
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/4;  
    grid-row: 1/4;
    gap: 5rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  #cards section{
    border: 10px solid var(--header-footer);
    border-radius: 2rem;
    text-align: center;
    background-color: var(--nav);
    color: var(--text);
    padding: .5rem;
  }
  
  #cards section p{
    border: none;
    background-color: transparent;
  }
  #cards section a{
    
    color: var(--text);
  }
  #GridButton, #LineItemButton{
    height: 3rem;
    width: 6rem;
    background-color: var(--nav);
    color: var(--text);
    border: 2px solid var(--header-footer);
    margin: 1rem 1rem 1rem 1rem;
  }
  #DisplayButtons{
    display: flex;
    justify-content: center;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
    
  }
.list #cards {
    display: block;
}
.list #cards .card:nth-child(odd) a{
  color: white;
}
.list #cards .card {
    border-radius: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: .25rem;
}

.list #cards .card * {
    display: block;
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: left;
}
.list #cards .card img{
  display: none;
}

.list #cards .card:nth-child(even) {
    background-color: var(--nav);
}
.list #cards .card:nth-child(odd) {
  background-color: var(--header-footer);
  color: white; 
}
.list #cards .card:nth-child(odd) a{
  color: white;
}

.sidenav{
  grid-column: 1/2;
  grid-row: 1/2;
  justify-content: center;
  width: 600px;
}
.post{
  margin: 1rem 1rem 1rem 1rem;
  background-color: var(--nav);
  color: var(--text);
  border: 10px solid var(--header-footer);
  border-radius: 3rem;
}
#WelcomeMessage{
  color: var(--text);
  background-color: var(--nav);
  border: 10px solid var(--header-footer);
  border-radius: 3rem;
  margin: 1rem 1rem 1rem 1rem;
}
/* Darkmode Button*/
#DarkModeButton {
  position: absolute;
  top: 6rem;
  font-size: 3rem;
  margin: 1rem;
}

#DarkModeButton::before {
  content: '🌚';
}

.darkMode #DarkModeButton::before {
  content: '🌞';
}
/* index */
.hero picture img{
  width: 90%;
  height: 90%;
}
.hero{
  grid-column: 1/3;
  position: relative;
  height: 200px;
}
.hero-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: absolute;
}

#sections{
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/3;
  grid-row: 2/3;
  justify-content: space-between;
}

#Weather,#Events,#Spotlight{
  color: var(--text);
  background-color: var(--nav);
  border: 10px solid var(--header-footer);
  border-radius: 3rem;
  margin: 1rem 1rem 1rem 1rem;
  width: 1000px;
  text-align: center;
}
#joinButton{
    border: none;
    background-image: linear-gradient(#157145,#2ec4b6);
    color: #fff;
    height: 50px;
    width: 150px;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 1px 1px 4px #999;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 60%;
    transform: translateY(-50%);
    transform:translateX(-50%);
}
#ThreeDayForecast{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}
#ThreeDayForecast ul{
  margin: 0;
  padding: 0;
}
#Banner{
  background-color: var(--nav);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  grid-row: 3;
  grid-column: 1/4;
  z-index: 10;
  width: 80%;
  height: 2%;
  border: 10px solid var(--header-footer);
  border-radius: 1rem;
}
#Banner button{
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: var(--text);
  font-size: 1.5rem;
}

