body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto, auto, 1fr, auto ;
    justify-items: center;
    background-color: #F4F1DE;
}

header{
    grid-column: 1/4;
    grid-row: 1;
    background-color: #3A7D44;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    color: white;
    
}

main{
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 45rem, 45rem, 45rem;
    grid-gap: 30px;
    
}

.img-container1{
    
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
}

.everett-park{
    height: 25%;
    width: 100%;
}

.img-container2{
    grid-column: 2/3    ;
    grid-row: 1/2;
    border: 1px solid black;
}

.everett-ivars{
    height: 25%;
    width: 100%;
}

.img-container3{
    grid-column: 1/3;
    grid-row: 2/3;
    border: 1px solid black;
}

.everett-library{
    height: 35%;
    width: 100%;
}

.img-container4{
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid black;
}
.everett-skateshop{
    height: 20%;
}
.img-container5{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid black;
}
.everett-funko{
    height: 20%;
}
.img-container1,.img-container2,.img-container3,.img-container4,.img-container5{
    height: 33rem;
}
.img-container3{
    height: 20rem;
}
footer{
    border-radius: 25px;
    grid-column: 1/4;
    grid-row:4;
    background-color: #3A7D44;
    color: white;
    width: 100%;
}

h1{
    grid-column: 2;
    grid-row: 1;
}
.navigation{
    grid-column: 1/4;
    grid-row: 2;
    width: 100%;
}
.navigation a {
    background-color: #13293D;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    
  }
  h2{
    text-align: center;
  }
  
  .navigation a:hover {
    background-color: grey;
  }
  
  .navigation a.active {
    background-color: #04AA6D;
    color: white;
  }
  p
  {
    text-align: center;
  }
  #menu::before{
    content: "≡";
  }
  #menu.open::before{
    content: "X";
  }
  .navigation a{
    display: none;
  }
  .open a{
    display: block;
  }
  .picture{
    padding-top: 3em;
    padding-left: 1em;
  }
  #menu{
    position: relative;
    top: 7em;
    left: 26em;
    height: 50%;
  }