:root{
  --text: white;
  --light-header-footer: #3A7D44;
  --light-body-background: #F4F1DE;
  --light-nav: #13293D;
  --light-nav-background: grey;
  --dark-text:black;
  --dark-body-background: #002C56;
  --dark-nav: #C4CED4;
  --dark-header-footer: #005C5C; 
  --dark-nav-background: #002C56;

}


body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto, auto, 1fr, auto ;
    justify-items: center;
    background-color: var(--light-body-background);
}

header{
    grid-column: 1/4;
    grid-row: 1;
    background-color: var(--light-header-footer);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    color: var(--text);
    padding-right: 2em;
}


main{
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-left: 1em;   
}

.img-container1{
    
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
}

.everett-park{
    height: 25%;
    width: 100%;
}

.img-container2{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;
}

.everett-ivars{
    height: 25%;
    width: 100%;
}

.img-container3{
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid black;
}

.everett-library{
    height: 10%;
    width: 100%;
}

.img-container4{
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid black;
}
.everett-skateshop{
    height: 20%;
}
.img-container5{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid black;
}
.everett-funko{
    height: 20%;
}
.img-container6{
  grid-column: 2/3;
  grid-row: 2/3;
  border: 1px solid black;
}
.everett-diner{
  height: 92%;
  width: 100%;
}
.img-container1,.img-container2,.img-container4,.img-container5,.img-container6{
    height: 34rem;
}
.img-container3{
    height: 20rem;
}

footer{
    border-radius: 25px;
    grid-column: 1/4;
    grid-row:4;
    background-color: var(--light-header-footer);
    color: var(--text);
    width: 100%;
}


h1{
    grid-column: 2;
    grid-row: 1;
}
.navigation{
    grid-column: 1/4;
    grid-row: 2;
    width: 100%;
}
.navigation a {
    background-color: var(--light-nav);
    color: var(--text);
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
  }

  h2{
    text-align: center;
  }
  
  .navigation a:hover {
    background-color: var(--light-nav-background);
  }
  
  .navigation a.active {
    background-color: var(--light-header-footer);
    color: var(--text);
  }

  p
  {
    text-align: center;
  }
  #menu::before{
    content: "≡";
  }
  #menu.open::before{
    content: "X";
  }
  .navigation a{
    display: none;
  }
  .open a{
    display: block;
  }
  .picture{
    margin-top: 4em;
    margin-left: 1em;
  }
  div p{
    border: 1px solid black;
    background-color: var(--light-nav);
    color: var(--text);
  }

  #menu{
    position: absolute;
    top: 8em;
    left: 28.5em;
    height: 5%;
  }
  /* darkmode*/
  body.dark-mode{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto, auto, 1fr, auto ;
    justify-items: center;
    background-color: var(--dark-body-background);
  }
  
  header.dark-mode{
    grid-column: 1/4;
    grid-row: 1;
    background-color: var(--dark-header-footer);
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    color: var(--text);
    padding-right: 2em;
  }

  footer.dark-mode{
    border-radius: 25px;
    grid-column: 1/4;
    grid-row:4;
    background-color: var(--dark-header-footer);
    color: var(--text);
    width: 100%;
  }

  .navigation a.dark-mode {
    background-color: var(--dark-nav);
    color: var(--dark-text);
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
  }

  .navigation a:hover.dark-mode {
    background-color: var(--light-nav);
    color: var(--text);
  }

  .navigation a.active.dark-mode {
    background-color: var(--dark-header-footer);
    color: var(--text);
  }

  div p.dark-mode{
    border: 1px solid black;
    background-color: var(--dark-nav);
    color: var(--dark-text);
  }
  /* Join page css */
  .wf1{
    grid-row: 1/4;
    grid-column: 2/3;
    background-color: var(--light-nav);
    color: var(--text);
  }
  .wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="number"]{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf1 input[type="submit"]
{
    border: none;
    background-image: linear-gradient(#157145,#2ec4b6);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}
  .wf1 label{
    display: block;
    padding-top: 1rem;
    color: var(--text);
    font-size: .9rem;
    background-color: var(--light-nav);
  }
  .wf1 input:required{
    border-right: solid 8px red;
}
.wf1 input:required:valid{
    border-right: solid 8px green;
}
  #memberInfo{
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    background-color: var(--light-nav);
    color: var(--text);
    padding: 1rem;
  }
  #memberInfo.dark-mode{
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    background-color: var(--dark-nav);
    color: var(--text);
  }
  