@media screen and (min-width: 62em)
{

    header{
        grid-column: 1/4;
        width: 100%;
    }

    .navigation
    {
        display: flex;
        justify-content: space-around;
        background-color: var(--nav);
        flex-direction: row;
    }
    
    .navigation a{
        display: inline;
    }

    main{
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto)
    }

    #menu{
        display: none;
    }
    #DarkModeButton{
        right: 0;
        top: 0rem;
    }
    /* Chamber Homepage  */
    .hero{
        height: 800px;
    }
    #joinButton{
        height: 100px;
        width: 200px;
    }
    #sections{
        flex-wrap: nowrap;
    }
    /* Discover */
    .img-container1,.img-container2,.img-container3,.img-container4,.img-container5,.img-container6,.img-container7{
        flex-wrap: wrap;
        width: 40%;
    }
    
    /* Directory */

    /* Grid Style */
    #cards section{
        padding: 1rem;
    }

    /* Table Style */
    .list #cards .card{
        flex-direction: row;
    }

}