@media screen and (min-width: 62em)
{

    header{
        grid-column: 1/4;
        width: 100%;
    }
    nav
    {
        display: flex;
        justify-content: space-around;
        background-color: var(--nav)
    }

    nav
    {
        display: flex;
        justify-content: space-around;
        background-color: var(--nav)
    }
    
    .navigation a{
        display: inline;
    }

    main{
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #menu{
        display: none;
    }

 
}